
body {
  margin:0;
  padding: 0;
  font-family:
    Roboto
}
/* this is the header of the page */
img {
  width: 50px;
  height: 50px;
}
.headerlogo {
  font-size: 24px;
  color: #f9faf8;
  margin-inline: 40px;
}
.headerlinks {
  padding: 5px;
  margin: 20px;
}
.headerlinks a {
  padding: 5px;
  color: #e5e7eb;
  margin-right: 40px;
}
.headerlinks a:hover {
  color: pink;
  text-decoration: none;
}
header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
/* this is for the second section of the page */
.section1{
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    height: 400px;
}
.section1_1 {
  background-color: #1f2937;
  width: 30%;
  margin: 50px 0;
  
}
.section1_1 h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  padding-left: 10px;
}
.section1_1 p {
  font-size: 18px;
  color: #ecf3ff;
  padding: 5px;
  text-align: left;
}
.section1 button {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #3882f6;
  color: white;
  margin-left: 10px;
  padding: 5px 20px
}
.section1_2 {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  color: #e5e7eb;
  margin: 50px 0;
}
h2 {
  text-align: center;
}
.section2 section{
    display: flex;
    justify-content:center;
    margin: 0 10px;
}
.box-outside {
  border-radius: 5px;
  width: 200px;
  margin: 5px;
}
/* the second section! */
.box-outside p{
  margin: 10px;
  color: #1f2937;
}
.box {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: 20px;
  justify-content: space-around;
}
/* third section */
.section3 {
  background-color: #e5e7eb;
  height: 200px;
  align-items:center;
  justify-items: center;
}
.blockquote{
  font-size: 36px;
  padding: 0 20%;
  font-weight: 100;
}
cite[title="ctitle"]{
    font-size: 20px;
    font-weight: bold;
}
/* forth section */
.section4 div {
  background-color: #3882f6;
  display: flex;
  justify-content:center;
  width: 60%;
  margin: 10px;
  border-radius: 10px;
}
.rowdesign{
    justify-content: space-around;
    flex-direction: column;
}
.section4 h2 {
  color: #fff;
  padding-left:5px;
  text-align: left;
}
.section4 p {
  color: #f7f6f6;
  text-align: left;
  padding-left:5px;
}
.section4 button {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #3882f6;
  color:white;
  padding: 5px 20px;
  align-self:center;    
}
/* footer */
footer {
  text-align: center;
  color: #e5e7eb;
  background-color: #1f2937;
  align-content: center;
  height: 100px;
  width: 100%;
}
